@font-face {
	font-family: MyFontFamily;
	src: url(EncodeSansMedium.ttf);
  }
  html {
	scroll-behavior: smooth;
	background-image: url("../img/pozadina.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: repeat-y;
  }
  
  .scroll {
	visibility: hidden;
  }
  
  * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: MyFontFamily;
  }
  
  ul {
	list-style-type: none;
  }
  
  a {
	text-decoration: none;
  }
  
  h2 {
	text-align: center;
	font-size: 35px;
	padding: 30px;
	color: #fda22b;
  }
  
  .unclickable {
	user-select: none;
  }
  .dugme {
	padding: 10px 15px;
	margin: 15px 0px;
	font-size: 15px;
	font-weight: bold;
	background-color: #292929;
	color: #fda22b;
	border: 2px solid #686868;
	transition: 0.3s ease-in-out;
  }
  .dugme:hover {
	background-color: #fda22b;
	color: #292929;
	transition: 0.5s;
  }
  
  /*--- CUSTOM CLASSES ---*/
  .btm_border {
	border-bottom: 5px solid #fda22b;
  }
  
  .dp-flex {
	display: flex;
	flex-wrap: wrap;
  }
  
  .transition {
	width: 90px;
	height: 90px;
	transition: 0.5s;
	background-color: #fda22b;
	clip-path: circle(50%);
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  /*--- SLIDER ---*/
  #slider {
	width: 100%;
	height: 500px;
	color: #fda22b;
  }
  #slider #bar {
	width: 100%;
	height: 70px;
	justify-content: space-between;
	background-color: rgba(27, 27, 27, 0.7);
	box-shadow: 3px 3px 15px #000;
  }
  #slider #bar #logo {
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
  }
  #slider #bar #logo h1 {
	width: 200px;
	font-size: 15px;
	padding: 5px 0px 0px 10px;
  }
  #slider #bar #logo #logoImg {
	width: 100px;
	height: 100%;
  }
  #slider #bar #logo img {
	width: 100%;
	padding: 5px;
  }
  #slider #bar nav {
	height: 100%;
	width: 400px;
  }
  #slider #bar nav ul {
	flex-direction: row;
	justify-content: space-evenly;
  }
  #slider #bar nav ul li {
	align-items: center;
	padding: 5px 15px;
  }
  #slider #bar nav ul li a {
	text-decoration: none;
	margin-top: 15px;
	font-size: 18px;
	color: #fda22b;
	border-bottom: 3px solid transparent;
  }
  #slider #bar nav ul li a:hover {
	color: #fff;
	transition: 0.2s;
	border-bottom: 3px solid #fda22b;
  }
  #slider #naslovi {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20%;
	justify-content: center;
  }
  #slider #naslovi .naslov {
	width: 50%;
	text-align: center;
	font-size: 40px;
	font-style: italic;
	padding: 0px 20px;
  }
  
  main {
	background-color: rgba(27, 27, 27, 0.7);
  }
  
  /*--- SKILLS ---*/
  #skills_all {
	width: 100%;
	padding-bottom: 5%;
  }
  #skills_all #skills {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
  }
  #skills_all #skills .skills_content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  }
  #skills_all #skills .skills_content .chart {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border: 3px solid #fda22b;
	border-radius: 50%;
  }
  #skills_all #skills .skills_content:hover .html {
	width: 180px;
	height: 180px;
  }
  #skills_all #skills .skills_content:hover .css {
	width: 160px;
	height: 160px;
  }
  #skills_all #skills .skills_content:hover .bootstrap {
	width: 140px;
	height: 140px;
  }
  #skills_all #skills .skills_content:hover .js {
	width: 120px;
	height: 120px;
  }
  
  #projects {
	width: 100%;
  }
  #projects #prjtContent {
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 50px;
  }
  #projects #prjtContent .prjtImg {
	width: 450px;
	height: 275px;
	margin: 15px;
  }
  #projects #prjtContent .prjtImg figure {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	filter: grayscale(100%);
	transition: 0.5s ease-in-out;
	box-shadow: 5px 5px 15px #000;
  }
  #projects #prjtContent .prjtImg figure img {
	width: 100%;
	height: auto;
  }
  #projects #prjtContent .prjtImg figure figcaption {
	position: absolute;
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
	background-color: rgba(253, 162, 43, 0.6);
  }
  #projects #prjtContent .prjtImg figure figcaption h3 {
	font-size: 20px;
	padding: 15px;
  }
  #projects #prjtContent .prjtImg figure figcaption span {
	padding: 10px;
  }
  #projects #prjtContent .prjtImg figure figcaption a {
	position: absolute;
	bottom: 20px;
	right: 15px;
	color: #111;
	padding: 10px;
	background-color: #fda22b;
	border: 3px solid #292929;
	transition: 0.3s ease-in-out;
  }
  #projects #prjtContent .prjtImg figure figcaption a:hover {
	color: #fff;
	background-color: #292929;
	transition: 0.3s ease-in-out;
  }
  #projects #prjtContent .prjtImg figure:hover {
	opacity: 1;
	transition: 0.5s ease-in-out;
	filter: none;
  }
  #projects #prjtContent .prjtImg figure:hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
  }
  
  #about {
	width: 100%;
  }
  #about #aboutContent {
	width: 100%;
	margin: 0px auto;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  #about #aboutContent #autor {
	width: 200px;
  }
  #about #aboutContent #autor img {
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 15px #000;
  }
  #about #aboutContent #autorTekst {
	width: 50%;
	padding: 20px;
	text-align: left;
  }
  #about #aboutContent #autorTekst h5 {
	font-size: 25px;
  }
  #about #aboutContent #autorTekst p {
	font-size: 18px;
	color: #fda22b;
  }
  
  #contact {
	width: 100%;
	padding-bottom: 5%;
  }
  #contact #contactHolder {
	width: 50%;
	margin: 0px auto;
	justify-content: center;
	text-align: center;
  }
  #contact #contactHolder form {
	width: 100%;
  }
  #contact #contactHolder form .dugme {
	padding: 10px;
	width: 100%;
	font-size: 20px;
  }
  #contact #contactHolder .ime {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #111;
	border: 3px solid #686868;
	outline: none;
	color: #fda22b;
	transition: 0.5s ease-in-out;
  }
  #contact #contactHolder .ime:focus {
	border: 3px solid #fda22b;
	transition: 0.5s;
	box-shadow: 0px 0px 15px #fda22b;
  }
  #contact #contactHolder textarea {
	width: 100%;
	resize: none;
	padding: 10px;
	border: 3px solid #686868;
	outline: none;
	background-color: #111;
	font-size: 20px;
	color: #fda22b;
	transition: 0.5s ease-in-out;
  }
  #contact #contactHolder textarea:focus {
	border: 3px solid #fda22b;
	transition: 0.5s;
	box-shadow: 0px 0px 15px #fda22b;
  }
  
  /* FOOTER */
  footer {
	width: 100%;
	height: 70px;
	background-color: #111;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
  }
  footer .footerInfo {
	width: 33%;
	text-align: center;
	color: #fff;
  }
  footer .footerInfo ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
  footer .footerInfo ul li {
	padding: 0px 10px;
  }
  footer .footerInfo ul li a {
	font-size: 30px;
  }
  
  /*--- SOCIAL ICONS --- */
  .fa-facebook-square {
	color: #4267b2;
  }
  
  .fa-whatsapp {
	color: #2cb742;
  }
  
  .fa-linkedin {
	color: #2867b2;
  }
  
  .fa-css3 {
	color: #4170fd;
  }
  
  .fa-mobile {
	color: #a3a3a3;
  }
  
  .fa-sitemap {
	color: #fa7e70;
  }
  
  .fa-sass {
	color: #ff80e3;
  }
  
  .fa:hover, .fab:hover {
	color: #fda22b;
  }
  
  @media screen and (max-width: 992px) {
	#slider #naslovi .naslov {
	  font-size: 35px;
	}
  
	#skills_all #skills .skills_content {
	  width: 40%;
	  padding: 2% 0%;
	}
  
	#contact #contactHolder {
	  width: 70%;
	}
  }
  @media screen and (max-width: 900px) {
	#slider #naslovi .naslov {
	  font-size: 28px;
	}
  }
  @media screen and (max-width: 720px) {
	#slider #bar {
	  justify-content: center;
	  height: 140px;
	}
	#slider #bar #logo {
	  height: 50%;
	  width: 100%;
	  justify-content: center;
	}
	#slider #bar nav {
	  height: 50%;
	  width: 100%;
	}
	#slider #naslovi {
	  width: 100%;
	  flex-direction: column;
	  align-items: center;
	}
	#slider #naslovi .naslov {
	  font-size: 30px;
	  padding: 20px 0px;
	  width: 100%;
	  background-color: rgba(27, 27, 27, 0.7);
	}
  
	#skills_all #skills .skills_content {
	  width: 50%;
	  padding: 2%;
	}
  
	#about #aboutContent {
	  flex-direction: column;
	}
	#about #aboutContent #autor {
	  width: 40%;
	  margin: 0px auto;
	}
	#about #aboutContent #autorTekst {
	  text-align: center;
	  width: 80%;
	  margin: 0px auto;
	}
	#about #aboutContent #autorTekst p {
	  font-size: 22px;
	}
  
	footer {
	  flex-direction: column;
	  justify-content: center;
	  height: 200px;
	}
	footer .footerInfo {
	  width: 100%;
	  margin: 10px 0px;
	}
	footer .footerInfo ul li a {
	  font-size: 30px;
	}
	footer .footerInfo p {
	  font-size: 20px;
	}
  }
  @media screen and (max-width: 480px) {
	#slider {
	  height: 550px;
	  margin-bottom: 15%;
	  border-bottom: none;
	}
	#slider #bar {
	  height: 50%;
	  align-items: flex-start;
	}
	#slider #bar #logo {
	  width: 100%;
	  height: 20%;
	}
	#slider #bar #logo h1 {
	  text-align: center;
	}
	#slider #bar #logo .unclickable {
	  font-size: 15px;
	}
	#slider #bar #logo #logoImg {
	  display: none;
	}
	#slider #bar nav {
	  height: 80%;
	  width: 100%;
	}
	#slider #bar nav ul {
	  flex-direction: column;
	  align-items: center;
	  justify-content: flex-start;
	  height: 100%;
	}
  
	#skills_all {
	  margin-top: 50px;
	  border-top: 5px solid #fda22b;
	}
	#skills_all #skills {
	  flex-direction: column;
	  align-items: center;
	}
	#skills_all #skills .skills_content {
	  width: 100%;
	  margin-bottom: 5%;
	}
  
	#about #aboutContent #autor {
	  width: 300px;
	}
  
	#projects #prjtContent .prjtImg {
	  width: 375px;
	  height: 250px;
	}
	#projects #prjtContent .prjtImg figure {
	  text-align: center;
	}
	#projects #prjtContent .prjtImg figure figcaption {
	  height: 100%;
	}
	#projects #prjtContent .prjtImg figure figcaption a {
	  bottom: 15px;
	  left: 15px;
	  width: 90;
	  padding: 20px 0px;
	}
  }
  @media screen and (max-width: 430px) {
	#projects #prjtContent .prjtImg {
	  width: 300px;
	  height: 200px;
	}
  }
  @media screen and (max-width: 350px) {
	#slider #naslovi .naslov {
	  font-size: 25px;
	}
  
	#projects #prjtContent .prjtImg {
	  width: 250px;
	  height: 160px;
	}
	#projects #prjtContent .prjtImg figure figcaption span {
	  width: 100%;
	  font-size: 13px;
	}
	#projects #prjtContent .prjtImg figure figcaption a {
	  padding: 10px;
	}
  
	#about #aboutContent #autor {
	  width: 250px;
	}
  
	footer .footerInfo p {
	  font-size: 18px;
	}
  }
