$color_orange: #fda22b;
$color_dark_gray: #292929;
$color_white: #fff;
$color_dark: #111;
$color_black: #000;
$color_border: #686868;
$color_rgba_gray: rgba(27, 27, 27, 0.7);
$color_rgba_orange: rgba(253, 162, 43, 0.6);

@font-face {
	font-family: MyFontFamily;
	src: url(EncodeSansMedium.ttf);
}
html {
	scroll-behavior: smooth;
	background-image: url('../img/pozadina.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: repeat-y;
}
.scroll {
	visibility: hidden;
}
.scroll {
	visibility: hidden;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: MyFontFamily;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h2 {
	text-align: center;
	font-size: 35px;
	padding: 30px;
	color: $color_orange;
}
.unclickable {
	user-select: none;
}
.dugme {
	padding: 10px 15px;
	margin: 15px 0px;
	font-size: 15px;
	font-weight: bold;
	background-color: $color_dark_gray;
	color: $color_orange;
	border: 2px solid $color_border;
	transition: 0.3s ease-in-out;
	&:hover {
		background-color: $color_orange;
		color: $color_dark_gray;
		transition: 0.5s;
	}
}

/*--- CUSTOM CLASSES ---*/

.btm_border {
	border-bottom: 5px solid $color_orange;
}
.dp-flex {
	display: flex;
	flex-wrap: wrap;
}
.transition{
    	width: 90px;
	height: 90px;
	background-color: $color_orange;
	clip-path: circle(50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*--- SLIDER ---*/

#slider {
	width: 100%;
	height: 500px;
	color: $color_orange;
	#bar {
		width: 100%;
		height: 70px;
		justify-content: space-between;
		box-shadow: 0px 10px 15px 5px $color_black;
		background: linear-gradient(-45deg, rgba(253, 162, 43, 0.8), rgba(235, 135, 4, 0.8), rgba(187, 75, 0, 0.8), rgba(253, 162, 43, 0.8));
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
		#logo {
			width: 300px;
			height: 100%;
			display: flex;
			align-items: center;
			h1 {
				width: 200px;
				font-size: 15px;
				padding: 5px 0px 0px 10px;
				color:$color_dark;
			}
			#logoImg {
				width: 100px;
				height: 100%;
			}
			img {
				width: 100%;
				padding: 5px;
			}
		}
		nav {
			height: 100%;
			width: 400px;
			ul {
				flex-direction: row;
				justify-content: space-evenly;
				li {
					align-items: center;
					padding: 5px 15px;
					a {
						text-decoration: none;
						margin-top: 15px;
						font-size: 18px;
						color: $color_dark;
						border-bottom: 3px solid transparent;
						&:hover {
							color: $color_white;
							transition: 0.2s;
							border-bottom: 3px solid $color_dark;
						}
					}
				}
			}
		}
	}
	#naslovi {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 20%;
		justify-content: center;
		.naslov {
			width: 50%;
			text-align: center;
			font-size: 40px;
			font-style: italic;
			padding: 0px 20px;
		}
	}
}
main {
	background-color: $color_rgba_gray;
}

/*--- SKILLS ---*/
@keyframes html {
  0% {
    width: 90px;
    height: 90px;
  }

  100% {
    width: 180px;
    height: 180px;
  }
}

@keyframes css {
  0% {
    width: 90px;
    height: 90px;
  }

  100% {
    width: 160px;
    height: 160px;
  }
}

@keyframes bs {
  0% {
    width: 90px;
    height: 90px;
  }
  100% {
    width: 140px;
    height: 140px;
  }
}
@keyframes js {
   0% {
     width: 90px;
     height: 90px;
  }

   100% {
     width: 120px;
     height: 120px;
  }
}
#skills_all {
	width: 100%;
	padding-bottom: 5%;
	#skills {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.skills_content {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.chart {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 200px;
				border: 3px solid $color_orange;
                		border-radius: 50%;
            		}
				.html {
  					animation: html 1.5s ease-in-out alternate infinite;
				}

				.css {
  					animation: css 1.5s ease-in-out alternate infinite;
				}

				.bootstrap {
  					animation: bs 1.5s ease-in-out alternate infinite;
				}

				.js {
 					animation: js 1.5s ease-in-out alternate infinite;
				}
		}
    	}
}
#projects {
	width: 100%;
	#prjtContent {
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: space-evenly;
		margin-bottom: 50px;
		.prjtImg {
			width: 450px;
			height: 275px;
			margin: 15px;
			figure {
				width: 100%;
				height: 100%;
				position: relative;
				overflow: hidden;
				filter: grayscale(100%);
				transition: 0.5s ease-in-out;
				box-shadow: 5px 5px 15px $color_black;
				img {
					width: 100%;
					height: auto;
				}
				figcaption {
					position: absolute;
					height: 100px;
					width: 100%;
					top: auto;
					bottom: 0;
					opacity: 0;
					transform: translateY(100%);
					transition: transform 0.4s, opacity 0.1s 0.3s;
					background-color: $color_rgba_orange;
					h3 {
						font-size: 20px;
						padding: 15px;
					}
					span {
						padding: 10px;
					}
					a {
						position: absolute;
						bottom: 20px;
						right: 15px;
						color: $color_dark;
						padding: 10px;
						background-color: $color_orange;
						border: 3px solid $color_dark_gray;
						transition: 0.3s ease-in-out;
						&:hover {
							color: $color_white;
							background-color: $color_dark_gray;
							transition: 0.3s ease-in-out;
						}
					}
				}
				&:hover {
					opacity: 1;
					transition: 0.5s ease-in-out;
					filter: none;
					figcaption {
						opacity: 1;
						transform: translateY(0px);
						transition: transform 0.4s, opacity 0.1s;
					}
				}
			}
		}
	}
}
#about {
	width: 100%;
	#aboutContent {
		width: 100%;
		margin: 0px auto;
		padding-bottom: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		#autor {
			width: 200px;
			img {
				width: 100%;
				border-radius: 15px;
				box-shadow: 5px 5px 15px $color_black;
			}
		}
		#autorTekst {
			width: 50%;
			padding: 20px;
			text-align: left;
			h5 {
				font-size: 25px;
			}
			p {
				font-size: 18px;
				color: $color_orange;
			}
		}
	}
}
#contact {
	width: 100%;
	padding-bottom: 5%;
	#contactHolder {
		width: 50%;
		margin: 0px auto;
		justify-content: center;
		text-align: center;
		form {
			width: 100%;
			.dugme {
				padding: 10px;
				width: 100%;
				font-size: 20px;
			}
		}
		.ime {
			width: 100%;
			padding: 15px;
			margin-bottom: 20px;
			background-color: $color_dark;
			border: 3px solid $color_border;
			outline: none;
			color: $color_orange;
			transition: 0.5s ease-in-out;
			&:focus {
				border: 3px solid $color_orange;
				transition: 0.5s;
				box-shadow: 0px 0px 15px $color_orange;
			}
		}
		textarea {
			width: 100%;
			resize: none;
			padding: 10px;
			border: 3px solid $color_border;
			outline: none;
			background-color: $color_dark;
			font-size: 20px;
			color: $color_orange;
			transition: 0.5s ease-in-out;
			&:focus {
				border: 3px solid $color_orange;
				transition: 0.5s;
				box-shadow: 0px 0px 15px $color_orange;
			}
		}
	}
}

/* FOOTER */

footer {
	width: 100%;
	height: 70px;
	background-color: $color_dark;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	.footerInfo {
		width: 33%;
		text-align: center;
		color: $color_white;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			li {
				padding: 0px 10px;
				a {
					font-size: 30px;
				}
			}
		}
	}
}

/*--- SOCIAL ICONS --- */

.fa-facebook-square {
	color: #4267b2;
}
.fa-whatsapp {
	color: #2cb742;
}
.fa-linkedin {
	color: #2867b2;
}
.fa-css3 {
	color: #4170fd;
}
.fa-mobile {
	color: #a3a3a3;
}
.fa-sitemap {
	color: #fa7e70;
}
.fa-sass {
	color: #ff80e3;
}
.fa, .fab {
	&:hover {
		color: $color_orange;
	}
}
@media screen and (max-width: 992px) {
	#slider {
		#naslovi {
			.naslov {
				font-size: 35px;
			}
		}
	}
	#skills_all {
		#skills {
			.skills_content {
				width: 40%;
				padding: 2% 0%;
			}
		}
	}
	#contact {
		#contactHolder {
			width: 70%;
		}
	}
}
@media screen and (max-width: 900px) {
	#slider {
		#naslovi {
			.naslov {
				font-size: 28px;
			}
		}
	}
}
@media screen and (max-width: 720px) {
	#slider {
		#bar {
			justify-content: center;
			height: 140px;
			#logo {
				height: 50%;
				width: 100%;
				justify-content: center;
			}
			nav {
				height: 50%;
				width: 100%;
			}
		}
		#naslovi {
			width: 100%;
			flex-direction: column;
			align-items: center;
			.naslov {
				font-size: 30px;
				padding: 20px 0px;
				width: 100%;
				background-color: $color_rgba_gray;
			}
		}
	}
	#skills_all {
		#skills {
			.skills_content {
				width: 50%;
				padding: 2%;
			}
		}
	}
	#about {
		#aboutContent {
			flex-direction: column;
			#autor {
				width: 40%;
				margin: 0px auto;
			}
			#autorTekst {
				text-align: center;
				width: 80%;
				margin: 0px auto;
				p {
					font-size: 22px;
				}
			}
		}
	}
	footer {
		flex-direction: column;
		justify-content: center;
		height: 200px;
		.footerInfo {
			width: 100%;
			margin: 10px 0px;
			ul {
				li {
					a {
						font-size: 30px;
					}
				}
			}
			p {
				font-size: 20px;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	#slider {
		height: 550px;
		margin-bottom: 15%;
		border-bottom: none;
		#bar {
			height: 50%;
			align-items: flex-start;
			#logo {
				width: 100%;
				height: 20%;
				h1 {
					text-align: center;
				}
				.unclickable {
					font-size: 15px;
				}
				#logoImg {
					display: none;
				}
			}
			nav {
				height: 80%;
				width: 100%;
				ul {
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					height: 100%;
				}
			}
		}
	}
	#skills_all {
		margin-top: 50px;
		border-top: 5px solid $color_orange;
		#skills {
			flex-direction: column;
			align-items: center;
			.skills_content {
				width: 100%;
				margin-bottom: 5%;
			}
		}
	}
	#about {
		#aboutContent {
			#autor {
				width: 300px;
			}
		}
	}
	#projects {
		#prjtContent {
			.prjtImg {
				width: 375px;
				height: 250px;
				figure {
					text-align: center;
					figcaption {
						height: 100%;
						a {
							bottom: 15px;
							left: 15px;
							width: 90;
							padding: 20px 0px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 430px) {
	#projects {
		#prjtContent {
			.prjtImg {
				width: 300px;
				height: 200px;
			}
		}
	}
	#about {
		#aboutContent {
			#autor {
	  		       width: 170px;
			}
		}
	}
}
@media screen and (max-width: 350px) {
	#slider {
		#naslovi {
			.naslov {
				font-size: 25px;
			}
		}
	}
	#projects {
		#prjtContent {
			.prjtImg {
				width: 250px;
				height: 160px;
				figure {
					figcaption {
						span {
							width: 100%;
							font-size: 13px;
						}
						a {
							padding: 10px;
						}
					}
				}
			}
		}
	}
	#about {
		#aboutContent {
			#autor {
				width: 250px;
			}
			#autorTekst {
				p {
				   font-size: 18px;
				}
			}
		}
	}
	footer {
		.footerInfo {
			p {
				font-size: 18px;
			}
		}
	}
}
